@using DataTransferObjects
@using DeliveryServiceDomain
@model List<ShipmentDto>

<h3>All shipments</h3>

@if(@Model == null || @Model.Count()==0){
	<hr />
	<h2>No shipments yet.</h2>
	<h2>Rest and drink coffee.</h2>
}
else {
	<table class="table">
		<thead>
			<tr>
				<th>Shipment Code</th>
				<th>Shipment Content</th>
				<th>Sending Location</th>
				<th>Receiving Location</th>
				<th>Price</th>
				<th>Edit Shipment Status</th>
				<th>Status Timeline</th>
			</tr>
		</thead>
		<tbody>
			@foreach (ShipmentDto item in Model)
		   {
			   <tr>
				<td>@item.ShipmentCode</td>
				<td>@item.ShipmentContent</td>
				<td>@item.Sending.Street, @item.Sending.City @item.Sending.PostalCode</td>
				<td>@item.Receiving.Street, @item.Receiving.City @item.Receiving.PostalCode</td>
				<td>@item.Price RSD</td>
				<td><a href="EditStatus/@item.ShipmentId">Edit Status</a></td>
				<td><a href="Timeline/@item.ShipmentId">Timeline</a></td>
				</tr>
		   }
		</tbody>
	</table>
}

