@using DataTransferObjects
@using DeliveryServiceApp.Models
@model List<ShipmentDto>

<h3>All your shipments in one place</h3>

@if(@Model == null || @Model.Count() ==0){
	<hr />
	<h2>No shipments yet.</h2>
	<br />

	<div>
    <a asp-action="Create">Order a Shipment</a>
	</div>
}
else {
	<table class="table">
	<thead>
		<tr>
			<th>Shipment Code</th>
			<th>Shipment Content</th>
			<th>Sending Location</th>
			<th>Receiving Location</th>
			<th>Price</th>
			<th>Check Shipment Status</th>
		</tr>
	</thead>
	<tbody>
		@foreach (ShipmentDto item in Model)
		   {
			<tr>
			<td>@item.ShipmentCode</td>
			<td>@item.ShipmentContent</td>
			<td>@item.Sending.Street, @item.Sending.City @item.Sending.PostalCode</td>
			<td>@item.Receiving.Street, @item.Receiving.City @item.Receiving.PostalCode</td>
			<td>@item.Price RSD</td>
			<td>
				<form asp-action="ShipmentMonitoring" method="post">
					<input name="ShipmentCode" value="@item.ShipmentCode" hidden/>
					<button type="submit" class="btn btn-link btn-sm">Check Status</button>
				</form>
			</td>
			</tr>
		   }
		</tbody>
	</table>
}
